{% extends "main/base.html" %}
{% block content %}
<!--같은 병원이 2개 이상 나올 때-->
<!--update 날짜가 최신인 것만 취급함-->
<style>
    .hospital{
        font-size: 22px;
        margin-left: 30px;
        margin-top: 30px;
    }
    .hospital_information{
        font-size: 15px;
        margin-left: 55px;
        margin-top: 15px;
    }
    .title{
        display: inline-block;
        text-align: center;
    }
    .information{
        display: inline-block;
        margin-left: 10px;
    }

    .review_container{
        display: inline-block;
    }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
{{data.data.0}}
<article>
    <section>
        <header class="hospital">{{data.data.0.companyName}}</header>
        <div class="hospital_information">
            <div class="title">
                <div class="subject">진료과목</div>
                <div class="location">위치</div>
            </div>
            <div class="information">
                <div class="subject">{{data.data.0.medicalSubject}}</div>
                <div class="location">{{data.data.0.addressDoro}}</div>
            </div>
        </div>
    </section>

    <section>
        <div id="map" style="width:100%;height:350px;"></div>
    </section>

</article>


<h1>{{data.data.0.companyName}}</h1>
<h3>{{data.data.0.addressJibun}}</h3>

<!-- 평균 값 -->
{% if total_star.star__avg %}
    <h5>{{total_star.star__avg}}</h5>
{% else %}
    <h5>0</h5>
{% endif %}

<hr>

<h5>후기</h5>
<table>
    {% for reple in hospital_reples %}
    <tr>
        <td>{{reple.user_id}}</td>
        <td>{{reple.title}}</td>
        <td>{{reple.content}}</td>
        <td>{{reple.star}}</td>
        <td>{{reple.modified_date}}</td>
    </tr>
    {% endfor %}
</table>
    
<label for="id_user_id">User id:</label><input type="text" name="user_id" maxlength="20" required="" id="id_user_id" value="{{request.session.user_id}}">

<label for="id_title">Title:</label><input type="text" name="title" maxlength="30" required="" id="id_title">

<label for="id_content">Content:</label><textarea name="content" cols="40" rows="10" required="" id="id_content"></textarea>

<label for="id_star">Star:</label><input type="number" name="star" required="" id="id_star">

<label for="id_companyName">CompanyName:</label><input type="text" name="companyName" maxlength="40" required="" id="id_companyName" value="{{data.data.0.companyName}}">

<label for="id_licenseDate">LicenseDate:</label><input type="text" name="licenseDate" maxlength="30" required="" id="id_licenseDate" value="{{data.data.0.licensingDate}}">

<button type="submit" class="btnAjax save btn btn-default">Save</button>



<script>
    let btnAjax = document.querySelector('.btnAjax');

    btnAjax.addEventListener('click', e=>{
        let user_id = document.getElementById("id_user_id").value;
        let title = document.getElementById("id_title").value;
        let content = document.getElementById("id_content").value;
        let star = document.getElementById("id_star").value;
        let companyName = document.getElementById("id_companyName").value;
        let licenseDate = document.getElementById("id_licenseDate").value;

        

        let param = {
            'user_id':user_id,
            'title':title,
            'content':content,
            'star':star,
            'companyName':companyName,
            'licenseDate':licenseDate
        }
        console.log(param)
        $.ajax({
            url: "{% url 'comment' %}",
            type : 'POST',
            headers: {
                'X-CSRFTOKEN' : '{{ csrf_token }}'
            },
            data : JSON.stringify(param),
            success: function(data){
                // 새로고침
                location.replace(location.href);
                alert('정보가 등록되었습니다.');
            },
            error: function(){
                alert('error!!')
            }
        })

    })
</script>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=13250482f06a179f2463555e2aea1e27&libraries=services"></script>
<script>
var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
    mapOption = {
        center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
        level: 3 // 지도의 확대 레벨
    };  

// 지도를 생성합니다    
var map = new kakao.maps.Map(mapContainer, mapOption); 

// 주소-좌표 변환 객체를 생성합니다
var geocoder = new kakao.maps.services.Geocoder();

// 주소로 좌표를 검색합니다
geocoder.addressSearch("{{data.data.0.addressJibun}}", function(result, status) {

    // 정상적으로 검색이 완료됐으면 
     if (status === kakao.maps.services.Status.OK) {

        var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

        // 결과값으로 받은 위치를 마커로 표시합니다
        var marker = new kakao.maps.Marker({
            map: map,
            position: coords
        });

        // 인포윈도우로 장소에 대한 설명을 표시합니다
        var infowindow = new kakao.maps.InfoWindow({
            content: '<div style="width:150px;text-align:center;padding:6px 0;">우리회사</div>'
        });
        infowindow.open(map, marker);

        // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
        map.setCenter(coords);
    } 
});    
</script>
{% endblock %}