{% extends "main/base.html" %}
{% block content %}

{{selected_locations}}

총 개수: {{data.totCnt}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<hr>
<form action="{% url 'hospitalsubject' %}">
    {% for subject in subjects %}
    <div class="jejumap-item" id="jejumap-item-hangyeong">
        <input type="checkbox" class="" id="check-area" data-city="notJcity" name='rad_sub' value='{{ subject }}'>
        <div class="mapshape"></div>
        <label class="" for="check-area">{{ subject }}</label>
    </div>
    {% endfor %}
    <button type="submit" class="Search">진료과목 찾기</button>
</form>

<hr>
<table>
{% for i in data.data %}
    <!--라디오 버튼을 눌렀을 때-->
    {% if selected_locations %}
        {% for j in selected_locations %}
        {% if j in i.addressDoro %}
            <!--진료과목 별-->
            {% if selected_subject %}
                {% if selected_subject.0 in i.medicalSubject %}
                <tr>
                    <td><a href="{% url 'hospitaldetail' i.companyName %}" value="{{i.companyName}}">{{i.companyName}}</a></td>
                    <td>{{i.licensingDate}}</td>
                    <td>{{i.addressDoro}}</td>
                    <td>{{i.medicalWorkerCount}}</td>
                    <td>{{i.patientRoomCount}}</td>
                    <td>{{i.medicalSubject}}</td>
                </tr>
                {% endif %}
            {% else %}
            <!--진료과목 선택을 안했을 때-->
            <tr>
                <td><a href="{% url 'hospitaldetail' i.companyName %}" value="{{i.companyName}}">{{i.companyName}}</a></td>
                <td>{{i.licensingDate}}</td>
                <td>{{i.addressDoro}}</td>
                <td>{{i.medicalWorkerCount}}</td>
                <td>{{i.patientRoomCount}}</td>
                <td>{{i.medicalSubject}}</td>
            </tr>
            {% endif %}
        {% endif %}
        {% endfor %}
    <!--라디오 버튼을 누르지 않고 넘겼을 때-->
    {% else %}
        {{i}}
    {% endif %}
{% endfor %}
</table>


{% endblock %}